@model PMR.Models.RecordDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RecordDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RecordId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PetId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PetId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClinicId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClinicId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VaccineName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VaccineName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RecordId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
